// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-mixins";

.highlight-on-hover {
  &:hover {
    background-color: lighten(@tool-panel-background-color, 10%);
    cursor          : pointer;
  }
}

.blend-background-color(@color, @backing) {
  background-color: fadeout(mix(@color, @backing, 20%), 50%);
}

.atomatigit {
  position        : relative;
  background-color: @inset-panel-background-color;
  width           : 30em;
  padding         : 0px;
  color           : @text-color;
  display         : flex;
  flex-direction  : column;


  .hidden {
    display: none;
  }

  .spinner {
    position: absolute;
    top     : 1.5em;
    left    : 1.5em;
    display : none;
  }

  .resize-handle {
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : -5px;
    width   : 10px;
    cursor  : col-resize;
  }

  .commit-list-view {
    .commit {
      padding: 0.5em 0;
      .id {
        font-weight : bold;
        display     : inline-block;
        padding-left: 1.5em;
      }
      .author-name {
        font-style  : italic;
        display     : inline-block;
        padding-left: 0.5em;
      }
      .message {
        padding-left : 1.5em;
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
      }

      .highlight-on-hover;
    }
  }

  .file {
    .mode {
      padding     : 0.5em;
      padding-left: 2.5em;
    }

    .diff {
      font-family: 'Hack',
                   'Source Code Pro',
                   'Consolas',
                   'Ubuntu Mono',
                   'Monaco',
                   'Menlo',
                   'Inconsolata-g',
                   monospace;
      font-size  : 0.8em;

      .diff-chunk {
        padding: 0 0;

        .diff-line {
          padding-left : 2.5em;
          overflow     : hidden;
          text-overflow: ellipsis;
          white-space  : nowrap;

          &.addition {
            .blend-background-color(@background-color-success, @tool-panel-background-color);
          }

          &.subtraction {
            .blend-background-color(@background-color-error, @tool-panel-background-color);
          }
        }

        &.selected {
          background-color: @background-color-selected;
        }

      }
    }
  }

  h2 {
    padding-left: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
  }

  .branch-brief-view {
    padding: 0.5em;
    padding-left: 2.5em;

    .name {
      margin: 0;
      font-weight: bold;
    }

    .commit {
      font-style   : italic;
      overflow     : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
    }

    .highlight-on-hover;
  }

  .current-branch-view {
    text-align    : right;
    padding       : 2em;
    padding-bottom: 1em;
    flex          : 0 0 auto;

    &.unpushed {
      color: @text-color-warning;
    }

    .name {
      display    : block;
      font-size  : 1.5em;
      font-weight: bold;
    }

    .commit {
      display: block;
    }
  }

  .lists {
      flex-grow       : 1;
      display         : flex;
      flex-direction  : column;
      overflow        : auto;
      background-color: @tool-panel-background-color;
      > .list-view {
        flex-grow: 1;
      }
  }

  &.focused {
    .selected .filename, .branch-brief-view.selected, .commit.selected {
      background-color: @background-color-selected;
    }

    .file.selected {
      > span {
        font-weight: bold;
        &.mode {
          .octicon("arrow-right");
        }
      }
    }
  }

  ul.tab-bar {
    flex      : 0 0 auto;
    background: rgba(0,0,0,0);
    border    : none;
    margin    : 0;

    .tab {
      flex            : 1;
      min-width       : 8em;
      background-color: @tab-background-color;

      &.active {
        background-color: @tab-background-color-active;
      }

      .title {
        overflow   : hidden;
        white-space: nowrap;
        color      : lighten(@text-color, 10%);
        &::first-letter {
          text-decoration-line: underline;
        }
      }
    }

    &.inset-panel.list-inline::before {
      background: none;
    }

    &.inset-panel.list-inline::after {
      background: none;
    }
  }
}

.atomatigit-error {
  .error-message {
    background-color: @background-color-error;
    color           : @text-color-error;
  }
}
